:root {
  --blue: #004cff;
  --bg-color: #f8f8f8;
  --border: #dde3e9;
}

body {
  font-family: "Poppins", sans-serif;
}

.search-box {
  position: relative;
  top: 0.5em;
}

.logo {
  color: var(--blue);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
}

.side-bar-list > a {
  font-size: 1.041rem;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  letter-spacing: 0.36px;
}

.right-portion {
  background-color: var(--bg-color);
}

.search-icon {
  background-color: white;
  border-right: none;
  border-radius: 4px;
}

.search-bar {
  border-left: none;
  border-radius: 5px;
  color: #aca5a5;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}

.search-bar:focus {
  box-shadow: none !important;
  border-color: var(--border) !important;
}

.input-label {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}

.inp-placeholder {
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  height: 3.155em;
  border-radius: 5px;
}

.spaced-table {
  background-color: white;
  border-collapse: separate;
  border-spacing: 0 0;
  border-radius: 4px;
  margin-bottom: 40px;
}

.spaced-table th,
.spaced-table td {
  padding-top: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid #000;
  border-color: var(--border);
}

.sidebar-icon {
  margin-right: 10px;
}

.active-line {
  position: relative;
  right: 2.5em;
}